body{
	font-family: 'Poppins', sans-serif;
	background-color: #eee;
}

.navbar{
	width: 100%;
	height: 90px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	font-size: 17px;
}

.navbar .container{
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li{
	display: inline-block;
	
}

.navbar-menu li a{
	display: inline-block;
	color: #FF6347;
	margin: 30px;
	padding: 10px;
	font-size: 20px;

}
.navbar-menu li a:hover{
	transition: all .09s ease-in-out;
	transform: scale(1.04);
	background-color: #eee;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.navbar-wrap{
	display: flex;
	flex-flow: row nowrap;
}

.container a{
	text-decoration: none;
}

.navbar .logo-gb{
	height: 80px;
	width: 120px;
}

.navbar-logo:hover{
	transform: scale(1.04);
}

.callback{
	color: #eee;
	margin-left: 50px;
	padding: 10px 30px;
	background-color: orange;
	border-radius: 100px;
}

.callback:hover{
	background-color: #5C5555;
	opacity: 1;
	transition: all .1s ease-in-out;
	transform: scale(1.04);
}

.about_us{
	background-color: #dcdcdc;
	width: 100%;
	height: 500px;
	margin-top: 10px;
}

.about_us .info_grid{
	 display: flex;
	 flex-direction: column;
}

.info_grid .slaid_img{
	
}
